/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-sans-serif: "Inter", sans-serif;
$link-color: #DB7093;

/*-- scss:rules --*/

ul li {
    padding: 5px 0;
}